{% extends 'base.html' %}

{% block body %}

{% if categories %}
<h1>Catégories</h1>
	<ul>
	{% for c in categories %}
    <li><a href="{% url 'videos:category' c.id %}">{{ c.titre }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if projs %}
<h1>Projs</h1>
	<ul>
	{% for p in projs %}
    <li><a href="{% url 'videos:proj' p.id %}">{{ p.titre }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if videos %}
{% load static %}
<h1>Videos</h1>
	{% for v in videos %}
    <a href="{% url 'videos:video' v.id %}">
        <figure style="display:table-cell">
            <img width="300px" src="{% static 'snapshots/' %}{{v.url}}.jpg"/>
            <figcaption style="font-size:20px">{{v.titre}}</figcaption>
        </figure>
    </a>
	{% endfor %}
{% endif %}

{% endblock %}
