{% extends 'base.html' %}
{% block body %}

{% if projs %}
{% load static %}
<h1>Projs</h1>
	{% for p in projs %}
    <a href="{% url 'videos:proj' p.id %}">
        <figure style="display:table-cell">
            <img width="300px" src="{% static 'proj.png' %}"/>
            <figcaption style="font-size:20px">{{p.titre}}</figcaption>
        </figure>
    </a>
	{% endfor %}

    <br/><br/>
    Page :
    {% for p in pages %}
        {% if p != page %}
            <a href="{% url 'videos:projs_page' p %}">{{p}}</a>
        {% else %}
            {{p}}
        {% endif %}
    {% endfor %}

{% else %}
    <p>Errors.</p>
{% endif %}

{% endblock %}
