{% extends 'base.html' %}

{% block body %}

{% if video %}
{% load static %}
  <h1>{{ video.titre }}</h1>
  <h2>{{ video.date|date:"d/m/Y" }}</h2>
	<video width="720px" height="405px" controls autoplay>
        <source src="{% static 'videos/' %}{{video.url}}.{{video.extension}}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
  
{% if request.user.is_authenticated %}
<br/>
{% if favorite %}
  <a href="{% url 'videos:remove_favorite' video.id %}">Je n'aime plus</a>
{% else %}
  <a href="{% url 'videos:add_favorite' video.id %}">J'aime</a>
{% endif %}
{% endif %}

  <br/>
  <br/>
  Tags :
  {% for r in video.relation_tag_set.all %}
    <a class="tag" href="{% url 'videos:tag' r.tag.id %}">{{ r.tag.titre }}</a>
  {% endfor %}
    <br/>
    <br/>
    J'aime : {{ nb_jaimes }} <br/>
    Vues : {{ video.views }}

  <br/>
{% for r in video.relation_comment_set.all %}
    <br/>
    <strong>{{ r.author.username }}</strong> :
    {{ r.comment }}
{% endfor %}


{% if request.user.is_authenticated %}

<br/>
<br/>

<form action="{% url 'videos:comment_video' video.id %}" method="post">
{% csrf_token %}
<input type="text" name="comment" id="comment" />
<input type="submit" value="Poster" />
</form>

{% endif %}

{% endif %}

{% endblock %}
