{% extends 'base.html' %}

{% block body %}

{% if video %}
{% load static %}
  <h1>{{ video.titre }}</h1>
  <h2>{{ video.date|date:"d/m/Y" }}</h2>
	<video width="720px" height="405px" controls autoplay>
    <source src="{% static 'videos/' %}{{video.url}}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
  <br/>
  <br/>
  Tags :
  {% for r in video.relation_tag_set.all %}
    <a class="tag" href="{% url 'videos:tag' r.tag.id %}">{{ r.tag }}</a>
  {% endfor %}
 <br/>
 <br/>
  Vues : {{ video.views }}

	{% for r in video.relation_comment_set.all %}
		<p>{{ r.comment }}</p>
	{% endfor %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'videos:comment_video' video.id %}" method="post">
{% csrf_token %}
<input type="text" name="comment" id="comment" />
<input type="submit" value="Post" />
</form>


{% endif %}

{% endblock %}
